.mat-nav-list{
    display:block;
    border:1px solid;
    width:200px;
    }

input{
    display:block;
    border:1px solid;
    width: 200px;
}

.active-list-item {
    color: #3F51B5 !important; /* Note: You could also use a custom theme */
  }